*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #353535;
    position: relative;
    color: #ccc;
    min-height: 100vh;
}

/* header */
header{
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 680px){
    header{
        font-size: 2rem;
    }
}

/* main */
main{

}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 2em;
}

.board{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 850px;
    width: 95%;
    border-radius: 5% 5% 0 0;
    background: rgb(88, 102, 119);
    transition: background .3s;
}

.board-active{
    background: rgb(89, 154, 230);
    transition: background .3s;
}

.column{
    display: grid;
    background: transparent;
    grid-template-rows: repeat(6, 1fr);
    transition: background .25s;
}

.column-active:hover{
    /* background: rgb(67, 121, 182); */
    background: rgba(0, 0, 0, 0.25);
    /* border: 1px solid rgb(20, 57, 100); */
    transition: background .25s;
}

.column:first-child{
    border-top-left-radius: 35% 5%;
}
.column:last-child{
    border-top-right-radius: 35% 5%;
}

.cell{
    /* border: 1px solid purple; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    margin: 1%;
    border-radius: 50%;
}

.cell-winning{
    animation: highlight 1s infinite;
}

@keyframes highlight{
    0% {background: rgba(119, 253, 119, 0);}
    50% {background: rgba(119, 253, 119, 1);}
    100% {background: rgba(119, 253, 119, 0);}
}

.circle{
    width: 90%;
    padding-bottom: 90%;
    border-radius: 50%;
    background: #353535;
}

.button{
    width: 100%;
    max-width: 920px;
    cursor: pointer;
    background: rgb(56, 119, 190);
    color: #fff;

    font-size: 1.5rem;
    padding: .2em 0;

    transition: background .5s, color .5s;
}

.button:hover{
    background: rgb(37, 89, 148);
    transition: background .5s;
}

.button-disabled{
    background: rgb(54, 65, 78);
    color: transparent;
    transition: background .5s, color .5s;
}

.button-disabled:hover{
    background: rgb(54, 65, 78);
    cursor: default;
}

.prompt{
    background: rgba(0, 0, 0, .6);
    max-width: 850px;
    width: 100%;
    font-size: 1.8rem;
    padding: 0 .3em;
    margin-top: 1em;
    text-align: center;
}

.player-1{
    color: rgb(211, 198, 21);
    transition: color .2s;
}
.player-2{
    color: rgb(107, 23, 23);
    transition: color .2s;
}
/* footer */
footer{
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

